.shine-effect {
  position: relative;
  overflow: hidden;
}

.shine-effect::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: rotate(30deg);
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.shine-effect:hover::after {
  opacity: 1;
  transform: rotate(30deg) translate(50%, 50%);
  transition: all 0.7s ease;
}
